
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterDriver.cshtml";
}

<h2>Quản lý thông tin tài xế</h2>
<table style="width:100%">
    <tr style="height: 15%">
        <th style="width:20%">Họ và tên</th>
        <td><input class="form-control" type="text" value="@ViewBag.infor.TENNV" readonly="true"/></td>
    </tr>
    <tr>
        <th style="width:20%">Ngày sinh</th>
        <td><input class="form-control" type="text" value="@ViewBag.infor.NGAYSINH" readonly="true"/></td>
    </tr>
    <tr>
        <th style="width:20%">Giới tính</th>
        <td><input class="form-control" type="text" value="@ViewBag.infor.GIOITINH" readonly="true"/></td>
    </tr>
    <tr>
        <th style="width:20%">Địa chỉ</th>
        <td><input class="form-control" type="text" value="@ViewBag.infor.DIACHI" readonly="true"/></td>
    </tr>
    <tr>
        <th style="width:20%">Số CMND</th>
        <td><input class="form-control" type="text" value="@ViewBag.infor.CMND" readonly="true"/></td>
    </tr>
    <tr>
        <th style="width:20%">Email</th>
        <td><input class="form-control" type="text" value="@ViewBag.infor.EMAIL" readonly="true"/></td>
    </tr>
</table>




