@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/MasterAdmin.cshtml";
}
<h2>Quản Lý Thông Tin Chuyến Xe</h2>
<div>
    <table id="table" style="width: 100%; border:1px; background-color:aliceblue">
       <tr style="color: red">
            <td><h4>Mã Chuyến Xe</h4></td>
            <td><h4>Tên Chuyến Xe</h4></td>            
            <td><h4>Mã Tuyến Xe</h4></td>
            <td><h4>Giờ Đi</h4></td>
            <td><h4>Giờ Đến</h4></td>
            <td><h4>Mã Xe</h4></td>
            @*<td><h4>Hành động</h4></td>*@
        </tr>
        @for (var i = 0; i < ViewBag.result.Rows.Count; i++)
            {
            <tr>
                <td>@ViewBag.result.Rows[i][0]</td>
                <td>@ViewBag.result.Rows[i][1]</td>
                <td>@ViewBag.result.Rows[i][2]</td>
                <td>@ViewBag.result.Rows[i][3]</td>
                <td>@ViewBag.result.Rows[i][4]</td>
                <td>@ViewBag.result.Rows[i][5]</td>
                <td></td>
            </tr>
        }
        @*<tr>       
            <td>
                <input id="txt_maCX" type="text" /></td> 
            <td>
                <input id="txt_tenCX" type="text" /></td>          
            <td>
                <input id="txt_maTuyenXe" type="text" /></td>
            <td>
                <input id="txt_giodi" type="text" /></td>
            <td>
                <input id="txt_gioden" type="text" /></td>
            <td>
                <input id="txt_chotrong" type="text" /></td>
            <td>
                <input id="txt_maNV_ChuyenXe" type="text" /></td>
            <td>
                <input id="Button1" type="button" value="Thêm" />
                <input id="Button1" type="button" value="Xóa" />
                <input id="Button1" type="button" value="Sửa" /></td>
        </tr>*@
        
    </table>
</div>