@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/MasterAdmin.cshtml";
}
<h2>Quản Lý Thông Tin Khách Hàng</h2>
<div>
    <table id="table" style="width: 100%; border:1px; background-color:aliceblue">
       <tr style="color: red">
            <td><h4>Mã Khách Hàng</h4></td>
            <td><h4>Tên Khách Hàng</h4></td>            
            <td><h4>Ngày Sinh</h4></td>
            <td><h4>Gioi Tính</h4></td>
            <td><h4>Địa Chỉ</h4></td>
            <td><h4>CMND</h4></td>
            <td><h4>Điện Thoại</h4></td>
            <td><h4>Email</h4></td>
            @*<td><h4>Hành động</h4></td>*@
        </tr>
        @for (var i = 0; i < ViewBag.result.Rows.Count; i++)
            {
            <tr>
                <td>@ViewBag.result.Rows[i][0]</td>
                <td>@ViewBag.result.Rows[i][3]</td>
                <td>@ViewBag.result.Rows[i][4]</td>
                <td>@ViewBag.result.Rows[i][5]</td>
                <td>@ViewBag.result.Rows[i][6]</td>
                <td>@ViewBag.result.Rows[i][7]</td>
                <td>@ViewBag.result.Rows[i][8]</td>
                <td>@ViewBag.result.Rows[i][9]</td> 
            </tr>
        }
        @*<tr>       
            <td>
                <input id="txt_maKH" type="text" /></td> 
            <td>
                <input id="txt_tenKH" type="text" /></td>          
            <td>
                <input id="txt_ngaysinhKH" type="text" /></td>
            <td>
                <input id="Text1" type="text" /></td>
            <td>
                <input id="Text1" type="text" /></td>
            <td>
                <input id="Text1" type="text" /></td>
            <td>
                <input id="Text1" type="text" /></td>
            <td>
                <input id="Text1" type="text" /></td>
            <td>
                <input id="Button1" type="button" value="Thêm" />
                <input id="Button1" type="button" value="Xóa" />
                <input id="Button1" type="button" value="Sửa" /></td>
        </tr>*@
        
    </table>
</div>
