
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterAdmin.cshtml";
}

<h2>Quản Lý Tuyến Xe</h2>
<div>
    <table id="table" style="width: 100%; border-collapse:separate; background-color:aliceblue;">
       <tr style="color: red">
            <td><h4>Mã Tuyến</h4></td>
            <td><h4>Tên Tuyến</h4></td>
            <td><h4>Điểm Đi</h4></td>
            <td><h4>Điểm Đến</h4></td>
            <td><h4>Bảng Gía</h4></td>
        </tr>
       @for (var i = 0; i < ViewBag.result.Rows.Count; i++)
            {
        <tr>
            <td>@ViewBag.result.Rows[i][0]</td>
            <td>@ViewBag.result.Rows[i][1]</td>
            <td>@ViewBag.result.Rows[i][2]</td>
            <td>@ViewBag.result.Rows[i][3]</td>
            <td>@ViewBag.result.Rows[i][4]</td>
            <td></td>
        </tr>
       }
        @*<tr>
            <td>
                <input id="txt_matuyen" type="text" /></td>
            <td
                <input id="txt_tentuyen" type="text" /></td>
            <td>
                <input id="txt_diemdi" type="text" /></td>
            <td>
                <input id="txt_diemden" type="text" /></td>
            <td>
                <input id="txt_banggia" type="text" /></td>
            <td>
                <input id="Button1" type="button" value="Thêm" />
                <input id="Button1" type="button" value="Xóa" />
                <input id="Button1" type="button" value="Sửa" /></td>
        </tr>*@
        
    </table>
</div>

